## system.properties
unifi.logStdout=true

db.mongo.local=false
db.mongo.uri=mongodb://{{ getenv "UNIFI_DB_USER" }}:{{ getenv "UNIFI_DB_PASSWORD" }}@{{ getenv "UNIFI_DB_HOST" }}:{{ getenv "UNIFI_DB_PORT" "27017" }}/{{ getenv "UNIFI_DB_NAME" "unifi" }}?authSource=admin
statdb.mongo.uri=mongodb://{{ getenv "UNIFI_DB_USER" }}:{{ getenv "UNIFI_DB_PASSWORD" }}@{{ getenv "UNIFI_DB_HOST" }}:{{ getenv "UNIFI_DB_PORT" "27017" }}/{{ getenv "UNIFI_DB_NAME" "unifi" }}_stat?authSource=admin
unifi.db.name={{ getenv "UNIFI_DB_NAME" "unifi" }}
